<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/css" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/css" src="/jquery/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Masala</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="/images/logo.png">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><button type="button" class="btn btn-default navbar-btn sign-in">Sign in</button></li>
                <li><button type="button" class="btn btn-default navbar-btn log-in"><a href="/auth/facebook">Login</a></button>
                </li>
            </ul>
    </nav>

    <div class="jumbotron">
    <div class="container content-logo">
      <img alt="Brand" src="/images/logo.png">
      <p>random curated propousals to spice up your life.</p>
    </div>
  </div>
  <!-- <button type="button" class="btn">Click me!</button>
<p class="text">Replace me!!</p> -->
</body>

</html>
